/*Responsive Designing*/

@media only screen and (max-width: 909px) {


  .section-1{
      flex-direction: column;
  }

  .about{
      width: 300px;
      height: 450px;
      
  }

  .sub-head{
      font-size: 1.5rem;
  }

  p{
      font-size: 1rem;
  }



  .section-2{
      flex-direction: column-reverse;
      margin-left: 30px;
  }

  .about-2{
      width: 300px;
      justify-content: center;
  }

  .sub-head-2{
      font-size: 1.5rem;
  }
}

